<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ShuppetModelContainer" connectionString="metadata=res://*/ShuppetModel.csdl|res://*/ShuppetModel.ssdl|res://*/ShuppetModel.msl;provider=Devart.Data.MySql;provider connection string=&quot;user id=shuppet;password=45er8e7;host=188.226.149.132;database=shuppet;persist security info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>